.product-background {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.product-grid {
  grid-gap: 10px;
  width: 80%;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .product-grid {
    grid-gap: 5px;
    width: 95%;
  }
}

@media (max-width: 580px) {
  .product-grid {
    grid-gap: 5px;
    width: 95%;
  }
}
