.product-card {
  cursor: pointer;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.product-text {
  margin-top: 10px;
}

.delete-checkbox {
  align-items: flex-start;
  justify-content: flex-start;
  margin: -30px -30px;
}

.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
