#product_form {
  margin-top: 100px;
  text-align: center;
}

.input-style {
  width: 80%;
  max-width: 340px;
  padding-left: 20px;
  font-size: 20px;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #3333;
}

.sku-label {
  margin-right: 20px;
}

.name-label {
  margin-right: 20px;
}

.price-label {
  margin-right: 20px;
}

#productType {
  background-color: #fff;
  width: 85%;
  max-width: 150px;
  padding-left: 20px;
  font-size: 20px;
  height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #3333;
}

.type-label {
  margin-right: 160px;
}

.size-label {
  margin-right: 20px;
}
